org: wilderemanuel
service: api-web-scraping

provider:
  name: aws
  runtime: python3.12
  memorySize: 1024
  timeout: 30
  region: us-east-1
  iam:
    role: arn:aws:iam::533894290576:role/LabRole

functions:
  scrape_sismos:
    handler: scrap_table.lambda_handler
    package:
      include:
        - ./**  # Incluye todo el contenido del directorio
    layers:
      - arn:aws:lambda:us-east-1:764866452798:layer:geckodriver-firefox:1
    events:
      - http:
          path: /scrape/sismos
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    SismosReportados:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: SismosReportados
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
